{% extends "account/base.html" %}

{% load account socialaccount %}
{% load core_extras %}

{% block main %}

	<h1 class="text-center">¡Bienvenido de Nuevo!</h1>
	<p class="text-center">¿No tienes una cuenta? <a class="link-primary" href="{{ signup_url }}">Regístrate</a></p>
	{% get_providers as socialaccount_providers %}
	{% if socialaccount_providers %}
		<div class="socialaccount_ballot">
			{% include "socialaccount/snippets/provider_list.html" with process="login" %}
			<div class="mt-5 mb-3 text-center" style="color: #929292; font-size: 13px; font-weight: 600;">o puedes ingresar con:</div>
		</div>
		{% include "socialaccount/snippets/login_extra.html" %}
	{% endif %}

	<form class="login" method="POST" action="{% url 'account_login' %}">
		{% csrf_token %}
		<div class="row">
			{% for field in form %}
				<div class="col-md-12 d-flex align-items-center mb-3 gap-1">
					<div class="label-container-form" style="width: 160px;">
						<label class="form-label form-label-text">{{ field.label }}:</label>
					</div>
					<div class="w-100">
						{{ field|add_class }}
					</div>
				</div>
			{% endfor %}
		</div>

		{% comment %} Form errors {% endcomment %}
		{% if form.non_field_errors %}
			<div class="alert alert-danger mt-3">
				{% for error in form.non_field_errors %}
					{{ error }}
				{% endfor %}
			</div>
		{% endif %}

		{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		{% endif %}
		<div class="mb-2 text-center w-100 d-grid">
			<button class="btn btn-secondary" type="submit">Iniciar Sesión</button>
		</div>
		<div class="mt-4 text-center">
			<a class="text-center" style="color: #74788D; text-decoration: none" href="{% url 'account_reset_password' %}"><i class="fa-solid fa-lock fa-xs"></i>  ¿Olvidaste tu contraseña?</a>
		</div>
	</form>
{% endblock main %}
