{% extends "account/base.html" %}
{% load core_extras %}

{% block main %}
    <h1>{% if token_fail %}Token Incorrecto!{% else %}Cambiar Contraseña{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se usó. Por favor, solicite un nuevo <a href="{{ passwd_reset_url }}">restablecimiento de contraseña</a>.</p>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {% for field in form %}
                <div class="col-md-12 d-flex align-items-center mb-3 gap-1">
                    <div class="label-container-form" style="width: 160px;">
                    <label class="form-label form-label-text">{{ field.label }}:</label>
                    </div>
                    <div class="w-100">
                    {{ field|add_class }}
                    </div>
                </div>
                {% comment %} Error for field {% endcomment %}
                {% if field.errors %}
                    <div class="alert alert-danger">
                    {% for error in field.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
            <input class="btn btn-secondary" type="submit" name="action" value="Cambiar Contraseña"/>
        </form>
    {% endif %}
{% endblock %}
