{% extends "account/base.html" %}

{% block main %}

    <h1 class="h3">Se ha restablecido su contraseña</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>Le hemos enviado un correo electrónico. Si no lo ha recibido, por favor revise 
        su carpeta de correo no deseado. En caso contrario contacte con nosotros 
        si no lo recibes en unos minutos.
    </p>

    <a href="{% url 'account_login' %}" class="btn btn-primary">Ir al Inicio de sesión</a>
{% endblock %}
