baseenv/
*.pyc
.idea/
.idea/**
.vscode/
.venv/
**/migrations/**
!**/migrations
!**/migrations/__init__.py
/.idea
/.idea/**
.ipynb_checkpoints/
workspace.xml
*py~
exepcion_send.text
*#
static/
db.sqlite3
baseenv/
node_modules/
media/
secrets.json
package-lock.json
firebase.json