{% if title_posts_horizontal %}
    <h2>{{ title_posts_horizontal }}</h2>
{% else %}
        <h2>Artículos Relacionados</h2>
{% endif %}
<hr class="divisor my-4">
<div class="row gy-3">
    {% for post in posts %}
        <div class="col-12 col-md-4">
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'blog:post' post.slug %}">
                        <img style="height: 200px;" src="{{ post.mi_imagen }}" class="card-img-top imagen-post rounded" alt="{{ blog.titulo }}">
                    </a>
                </div> 
                <div class="col-12 mt-2"> 
                    {% for categoria in post.categorias.all %}
                        <a href="" class="badge bg-info link text-white">{{ categoria.nombre|upper }}</a>
                    {% endfor %}
                    <a class="link" href="{% url 'blog:post' post.slug %}">
                        <div class="mt-2 h6 card-title fw-normal">{{ post.titulo|truncatechars:107 }}</div>
                    </a>
                    <div class="mt-2 text-muted small">{{ post.fecha|date:"j F, Y" }}</div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="d-flex justify-content-center mt-5">
        <a href="{% url 'blog:posts' %}" class="btn btn-primary">Ver todos los posts <i class="fa-solid fa-chevron-right"></i></a>
    </div>

</div>