{% extends 'layout/base_admin.html' %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
          <h1 class="mb-0"><i class="fa-solid fa-list"></i> Posts</h1>
        </div>
        <div>
          <a class="btn btn-sm btn-dark" href="{{ request.path }}?action=add_post">
            <i class="fa-solid fa-circle-plus"></i> Agregar Post
          </a>
        </div>
      </div>

      <div style="max-width: 500px">
        <form method="GET">
            <div class="input-group mb-3">
              <input type="text" id="kword" name="kword" value="{{ request.GET.kword }}" class="form-control" placeholder="Buscar post ...">
              <input type="hidden" name="action" value="posts">
              <button type="submit" class="btn btn-primary btn-sm">Buscar <i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>
      </div>
      {% if request.GET.kword %}
			<div class="d-flex justify-content-between mt-3">
        <p class="fw-bold">Se encontraron {{ page_obj.paginator.count }} posts</p>
        <p>Página <span class="fw-bold">{{ page_obj.number }}</span> de <span class="fw-bold">{{ page_obj.paginator.num_pages }}</span></p>
      </div>
      {% endif %}

      <div class="card border-0">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table small table-striped table-hover">
              <thead>
                <tr>
                  <th>Imagen</th>
                  <th>Nombre</th>
                  <th>Slug</th>
                  <th> Activo </th>
                  <th width="15%">Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for post in page_obj %}
                  <tr>
                    <td>
                      <img src="{{ post.mi_imagen }}" alt="{{ curso.nombre }}" class="img-fluid" style="max-width: 80px;">
                    </td>
                    <td>{{ post.titulo }}</td>
                    <td>{{ post.slug }}</td>
                    <td>
                      {% if post.activo %}
                        <i class="fa-solid fa-circle-check text-success"></i>
                      {% else %}
                        <i class="fa-solid fa-circle-xmark text-danger"></i>
                      {% endif %}
                    </td>
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-info btn-xs dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Acciones
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{{ request.path }}?action=edit_post&id={{ post.id }}"><i class="fa-solid fa-pencil"></i> Editar</a></li>
                          <li><a class="dropdown-item formmodal" href="javascript:" nhref="{{ request.path }}?action=del_post&id={{ post.id }}"><i class="fa-solid fa-trash"></i> Eliminar</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            {% include 'partials/pagination.html' %}

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


